<a href="https://colab.research.google.com/github/18k-481/assignment-3/blob/master/pe_ass3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#filling null values with mean
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('/content/drive/My Drive/Share mobile_cleaned.csv')
weight_avg=round(df["weight"].mean(),2)
stand_by_time_avg=round(df["stand_by_time"].mean(),2)
no_of_reviews_in_gsmarena_in_week_avg=round(df["no_of_reviews_in_gsmarena_in_week"].mean(),2)
phone_height_avg=round(df["phone_height"].mean(),2)
talk_time_avg=round(df["talk_time"].mean(),2)
video_resolution_avg=round(df["video_resolution"].mean(),2)
primary_camera_resolution_avg=round(df["primary_camera_resolution"].mean(),2)

#  Replaceing the 'NaN' to column mean values
df["weight"].fillna(weight_avg, inplace=True)
df["stand_by_time"].fillna(stand_by_time_avg, inplace=True)
df["no_of_reviews_in_gsmarena_in_week"].fillna(no_of_reviews_in_gsmarena_in_week_avg, inplace=True)
df["phone_height"].fillna(phone_height_avg, inplace=True)
df["talk_time"].fillna(talk_time_avg, inplace=True)
df["video_resolution"].fillna(video_resolution_avg , inplace=True)
df["primary_camera_resolution"].fillna(primary_camera_resolution_avg, inplace=True)
df[100:]

     sim_type  aperture  gpu_rank  ...  battery_capacity  processor_rank  is_liked
100         0         5         3  ...              3000             101         1
101         3        10         6  ...              1715               1         1
102         0         7        43  ...              3450               4         1
103         3         8         9  ...              3430               5         1
104         3        10        14  ...              3410               8         1
105         0         5         3  ...              3600             101         1
106         3        10         6  ...              2750               1         1
107         3        10        12  ...              1810               7         1
108         2         8         3  ...              3000               2         0

[9 rows x 40 columns]

In [ ]:
#corelation between price and other attributes
col=df.columns.tolist()
mid=len(col)//2
end=col[mid:]
col.remove('price')
for i in range((len(col))//2):
  df.plot(x='price',y=col[i])

In [ ]:
for i in range(len(end)):
  df.plot(x='price',y=end[i])

3. Compute outer product of 2 vectors.

In [ ]:
import numpy as np
a=np.array([[1,2],[3,4]])
b=np.array([[1,0],[0,1]])
print(np.outer(b,a))

4.Write a NumPy program to compute the condition number of a given matrix.

In [ ]:
from numpy import linalg as alg
a=np.array([[1,2],[3,4]])
print(alg.cond(a))

5.write a NumPy program to compute the sum of the diagonal element of a given array(matrix)

In [ ]:
a=np.array([[1,2,3],[4,5,6],[7,8,9]])
print(np.trace(a))